//
// Written by Synplify Pro 
// Product Version "Q-2020.03G-Beta1"
// Program "Synplify Pro", Mapper "mapgw2020q1p1, Build 004R"
// Sat Apr 17 10:02:35 2021
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\app\gowin\gowin_v1.9.6.02beta\synplifypro\lib\generic\gw1n.v "
// file 1 "\c:\app\gowin\gowin_v1.9.6.02beta\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\app\gowin\gowin_v1.9.6.02beta\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\app\gowin\gowin_v1.9.6.02beta\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\app\gowin\gowin_v1.9.6.02beta\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\kitahard\tang_nano\td4+d_pjt\src\top.v "
// file 6 "\c:\kitahard\tang_nano\td4+d_pjt\src\vgamod.v "
// file 7 "\c:\kitahard\tang_nano\td4+d_pjt\src\gowin_pll\gowin_pll.v "
// file 8 "\c:\kitahard\tang_nano\td4+d_pjt\src\td4_logic.v "
// file 9 "\c:\app\gowin\gowin_v1.9.6.02beta\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
module Gowin_PLL (
  XTAL_IN_c,
  LCD_CLK_c
)
;
input XTAL_IN_c ;
output LCD_CLK_c ;
wire XTAL_IN_c ;
wire LCD_CLK_c ;
wire clkout ;
wire clkoutp_o ;
wire clkoutd3_o ;
wire lock_o ;
wire GND ;
wire VCC ;
// @7:21
  PLL pll_inst (
	.CLKOUT(clkout),
	.CLKOUTP(clkoutp_o),
	.CLKOUTD(LCD_CLK_c),
	.CLKOUTD3(clkoutd3_o),
	.LOCK(lock_o),
	.CLKIN(XTAL_IN_c),
	.CLKFB(GND),
	.FBDSEL({GND, GND, GND, GND, GND, GND}),
	.IDSEL({GND, GND, GND, GND, GND, GND}),
	.ODSEL({GND, GND, GND, GND, GND, GND}),
	.DUTYDA({GND, GND, GND, GND}),
	.PSDA({GND, GND, GND, GND}),
	.FDLY({GND, GND, GND, GND}),
	.RESET(GND),
	.RESET_P(GND),
	.RESET_I(GND),
	.RESET_S(GND)
);
defparam pll_inst.FCLKIN="24";
defparam pll_inst.DYN_IDIV_SEL="false";
defparam pll_inst.IDIV_SEL=2;
defparam pll_inst.DYN_FBDIV_SEL="false";
defparam pll_inst.FBDIV_SEL=24;
defparam pll_inst.DYN_ODIV_SEL="false";
defparam pll_inst.ODIV_SEL=4;
defparam pll_inst.PSDA_SEL="0000";
defparam pll_inst.DYN_DA_EN="true";
defparam pll_inst.DUTYDA_SEL="1000";
defparam pll_inst.CLKOUT_FT_DIR=1'b1;
defparam pll_inst.CLKOUTP_FT_DIR=1'b1;
defparam pll_inst.CLKOUT_DLY_STEP=0;
defparam pll_inst.CLKOUTP_DLY_STEP=0;
defparam pll_inst.CLKFB_SEL="internal";
defparam pll_inst.CLKOUT_BYPASS="false";
defparam pll_inst.CLKOUTP_BYPASS="false";
defparam pll_inst.CLKOUTD_BYPASS="false";
defparam pll_inst.DYN_SDIV_SEL=20;
defparam pll_inst.CLKOUTD_SRC="CLKOUT";
defparam pll_inst.CLKOUTD3_SRC="CLKOUT";
defparam pll_inst.DEVICE="GW1N-1";
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* Gowin_PLL */

module VGAMod (
  regsel,
  Lcnt_0,
  regdat_0,
  LCD_G_c_0,
  LCD_B_c_0,
  nRST_c_i,
  LCD_CLK_c,
  N_8,
  Ytop_c4_1z,
  N_13,
  N_43,
  N_41,
  N_42,
  N_10_i_1z
)
;
output [2:0] regsel ;
output Lcnt_0 ;
input regdat_0 ;
output LCD_G_c_0 ;
output LCD_B_c_0 ;
input nRST_c_i ;
input LCD_CLK_c ;
output N_8 ;
output Ytop_c4_1z ;
output N_13 ;
input N_43 ;
input N_41 ;
input N_42 ;
output N_10_i_1z ;
wire Lcnt_0 ;
wire regdat_0 ;
wire LCD_G_c_0 ;
wire LCD_B_c_0 ;
wire nRST_c_i ;
wire LCD_CLK_c ;
wire N_8 ;
wire Ytop_c4_1z ;
wire N_13 ;
wire N_43 ;
wire N_41 ;
wire N_42 ;
wire N_10_i_1z ;
wire [6:2] Xtop;
wire [15:0] Lcnt;
wire [8:8] Ytop;
wire [15:0] Pcnt;
wire [10:0] Pcnt_3;
wire [9:0] Lcnt_3;
wire [9:1] Pcnt_fast;
wire [7:3] Pcnt_3_fast;
wire N_1 ;
wire N_2 ;
wire LCD_DE_i_3 ;
wire LCD_DE_i_7 ;
wire N_8_1 ;
wire N_10_1 ;
wire Pdat_0 ;
wire Pdat_1 ;
wire LCD_DE_i_1 ;
wire LCD_DE_i_4 ;
wire N_10_4 ;
wire LCD_HSYNC_1_i_a6_3 ;
wire LCD_HSYNC_1_i_a6_4 ;
wire LCD_DE_i_a3_1 ;
wire LCD_DE_i_a3_2 ;
wire N_4 ;
wire un3_Pcnt_1_cry_10_0_SUM ;
wire un3_Pcnt_1_cry_7_0_SUM ;
wire un3_Pcnt_1_cry_5_0_SUM ;
wire un3_Pcnt_1_cry_3_0_SUM ;
wire un1_Pcnt7_i_i_a6_0_3 ;
wire un1_Pcnt7_i_i_a6_0_4 ;
wire N_25 ;
wire un1_Lcnt_2_cry_9_0_SUM ;
wire un1_Lcnt_2_cry_0_0_SUM ;
wire un1_Lcnt_2_cry_2_0_SUM ;
wire un1_Lcnt_2_cry_3_0_SUM ;
wire Pcnt7 ;
wire N_15 ;
wire LCD_DE_i_a6_0 ;
wire N_48 ;
wire N_49 ;
wire Xtop_scalar ;
wire LCD_VSYNC_1_i_o3_0_1 ;
wire N_39 ;
wire un1_Pcnt7_i_i_a6_0_2 ;
wire ANB1 ;
wire CO0 ;
wire LCD_VSYNC_1_i_0_1_1 ;
wire LCD_VSYNC_1_i_0_1_0 ;
wire g0_1_8 ;
wire g0_1_9 ;
wire g0_1_10 ;
wire g0_1_1_0 ;
wire g0_1_1_1 ;
wire g0_1_0_0 ;
wire g0_1_0_1 ;
wire g0_1_0 ;
wire g0_1_1 ;
wire un3_Pcnt_1_cry_9_0_SUM ;
wire un3_Pcnt_1_cry_6_0_SUM ;
wire un3_Pcnt_1_cry_8_0_SUM ;
wire un3_Pcnt_1_cry_2_0_SUM ;
wire un3_Pcnt_1_cry_1_0_SUM ;
wire un3_Pcnt_1_cry_4_0_SUM ;
wire un1_Lcnt_2_cry_12_0_SUM ;
wire un1_Lcnt_2_cry_11_0_SUM ;
wire un1_Lcnt_2_cry_10_0_SUM ;
wire un1_Lcnt_2_cry_8_0_SUM ;
wire un1_Lcnt_2_cry_7_0_SUM ;
wire un1_Lcnt_2_cry_6_0_SUM ;
wire un1_Lcnt_2_cry_5_0_SUM ;
wire un1_Lcnt_2_cry_4_0_SUM ;
wire un1_Lcnt_2_cry_1_0_SUM ;
wire un3_Pcnt_1_cry_11_0_SUM ;
wire un1_Lcnt_2_s_15_0_SUM ;
wire un1_Lcnt_2_cry_14_0_SUM ;
wire un1_Lcnt_2_cry_13_0_SUM ;
wire un3_Pcnt_1_s_15_0_SUM ;
wire un3_Pcnt_1_cry_14_0_SUM ;
wire un3_Pcnt_1_cry_13_0_SUM ;
wire un3_Pcnt_1_cry_12_0_SUM ;
wire Xtop_cry_6 ;
wire GND ;
wire Xtop_s_7_0_COUT ;
wire Xtop_cry_5 ;
wire VCC ;
wire Xtop_cry_4 ;
wire Xtop_cry_3 ;
wire Xtop_cry_2 ;
wire Xtop_cry_1 ;
wire Xtop_cry_0 ;
wire Xtop_cry_0_0_SUM ;
wire un3_Pcnt_1_cry_14 ;
wire un3_Pcnt_1_s_15_0_COUT ;
wire un3_Pcnt_1_cry_13 ;
wire un3_Pcnt_1_cry_12 ;
wire un3_Pcnt_1_cry_11 ;
wire un3_Pcnt_1_cry_10 ;
wire un3_Pcnt_1_cry_9 ;
wire un3_Pcnt_1_cry_8 ;
wire un3_Pcnt_1_cry_7 ;
wire un3_Pcnt_1_cry_6 ;
wire un3_Pcnt_1_cry_5 ;
wire un3_Pcnt_1_cry_4 ;
wire un3_Pcnt_1_cry_3 ;
wire un3_Pcnt_1_cry_2 ;
wire un3_Pcnt_1_cry_1 ;
wire un3_Pcnt_1_cry_0 ;
wire un3_Pcnt_1_cry_0_0_SUM ;
wire un1_Lcnt_2_cry_14 ;
wire un1_Lcnt_2_s_15_0_COUT ;
wire un1_Lcnt_2_cry_13 ;
wire un1_Lcnt_2_cry_12 ;
wire un1_Lcnt_2_cry_11 ;
wire un1_Lcnt_2_cry_10 ;
wire un1_Lcnt_2_cry_9 ;
wire un1_Lcnt_2_cry_8 ;
wire un1_Lcnt_2_cry_7 ;
wire un1_Lcnt_2_cry_6 ;
wire un1_Lcnt_2_cry_5 ;
wire un1_Lcnt_2_cry_4 ;
wire un1_Lcnt_2_cry_3 ;
wire un1_Lcnt_2_cry_2 ;
wire un1_Lcnt_2_cry_1 ;
wire un1_Lcnt_2_cry_0 ;
// @6:66
  LUT4 LCD_R_1 (
	.I0(N_1),
	.I1(N_2),
	.I2(Xtop[5]),
	.I3(LCD_B_c_0),
	.F(LCD_G_c_0)
);
defparam LCD_R_1.INIT=16'hCA00;
  LUT4 N_10_i (
	.I0(LCD_DE_i_3),
	.I1(LCD_DE_i_7),
	.I2(N_8_1),
	.I3(N_10_1),
	.F(N_10_i_1z)
);
defparam N_10_i.INIT=16'h0001;
// @6:66
  LUT4 regdat_pmux_2 (
	.I0(Xtop[6]),
	.I1(regdat_0),
	.I2(regsel[1]),
	.I3(N_42),
	.F(N_2)
);
defparam regdat_pmux_2.INIT=16'h8D88;
// @6:66
  LUT4 regdat_pmux_1 (
	.I0(Xtop[6]),
	.I1(regsel[1]),
	.I2(N_41),
	.I3(N_43),
	.F(N_1)
);
defparam regdat_pmux_1.INIT=16'h3120;
// @6:77
  LUT4 Pdat (
	.I0(Lcnt[3]),
	.I1(Lcnt[4]),
	.I2(Pdat_0),
	.I3(Pdat_1),
	.F(LCD_B_c_0)
);
defparam Pdat.INIT=16'hD000;
// @6:55
  LUT4 LCD_DE_i_7_cZ (
	.I0(LCD_DE_i_1),
	.I1(LCD_DE_i_4),
	.I2(Lcnt[9]),
	.I3(N_10_4),
	.F(LCD_DE_i_7)
);
defparam LCD_DE_i_7_cZ.INIT=16'hFFFE;
// @6:51
  LUT4 LCD_HSYNC_1_i_0 (
	.I0(LCD_HSYNC_1_i_a6_3),
	.I1(LCD_HSYNC_1_i_a6_4),
	.I2(N_10_1),
	.I3(N_10_4),
	.F(N_13)
);
defparam LCD_HSYNC_1_i_0.INIT=16'hFFF8;
// @6:77
  LUT4 Pdat_0_cZ (
	.I0(Xtop[2]),
	.I1(Xtop[3]),
	.I2(Xtop[4]),
	.I3(Ytop[8]),
	.F(Pdat_0)
);
defparam Pdat_0_cZ.INIT=16'h00FE;
// @6:74
  LUT3 Ytop_axbxc5 (
	.I0(Lcnt_0),
	.I1(Lcnt[8]),
	.I2(Ytop_c4_1z),
	.F(Ytop[8])
);
defparam Ytop_axbxc5.INIT=8'hC9;
// @6:55
  LUT4 LCD_DE_i_4_cZ (
	.I0(LCD_DE_i_a3_1),
	.I1(LCD_DE_i_a3_2),
	.I2(Pcnt[10]),
	.I3(Pcnt[11]),
	.F(N_10_4)
);
defparam LCD_DE_i_4_cZ.INIT=16'hFFF8;
// @6:30
  LUT2 \Pcnt_3_cZ[10]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_10_0_SUM),
	.F(Pcnt_3[10])
);
defparam \Pcnt_3_cZ[10] .INIT=4'h4;
// @6:30
  LUT2 \Pcnt_3_cZ[7]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_7_0_SUM),
	.F(Pcnt_3[7])
);
defparam \Pcnt_3_cZ[7] .INIT=4'h4;
// @6:30
  LUT2 \Pcnt_3_cZ[5]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_5_0_SUM),
	.F(Pcnt_3[5])
);
defparam \Pcnt_3_cZ[5] .INIT=4'h4;
// @6:30
  LUT2 \Pcnt_3_cZ[3]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_3_0_SUM),
	.F(Pcnt_3[3])
);
defparam \Pcnt_3_cZ[3] .INIT=4'h4;
// @6:30
  LUT2 \Pcnt_3_0_a6[0]  (
	.I0(Pcnt[0]),
	.I1(N_4),
	.F(Pcnt_3[0])
);
defparam \Pcnt_3_0_a6[0] .INIT=4'h1;
// @6:74
  LUT2 Ytop_axbxc4 (
	.I0(Lcnt_0),
	.I1(Ytop_c4_1z),
	.F(regsel[2])
);
defparam Ytop_axbxc4.INIT=4'h9;
// @6:30
  LUT4 \Lcnt_3_cZ[9]  (
	.I0(un1_Pcnt7_i_i_a6_0_3),
	.I1(un1_Pcnt7_i_i_a6_0_4),
	.I2(N_25),
	.I3(un1_Lcnt_2_cry_9_0_SUM),
	.F(Lcnt_3[9])
);
defparam \Lcnt_3_cZ[9] .INIT=16'hF700;
// @6:30
  LUT4 \Lcnt_3_cZ[0]  (
	.I0(un1_Pcnt7_i_i_a6_0_3),
	.I1(un1_Pcnt7_i_i_a6_0_4),
	.I2(N_25),
	.I3(un1_Lcnt_2_cry_0_0_SUM),
	.F(Lcnt_3[0])
);
defparam \Lcnt_3_cZ[0] .INIT=16'hF700;
// @6:30
  LUT4 \Lcnt_3_cZ[2]  (
	.I0(un1_Pcnt7_i_i_a6_0_3),
	.I1(un1_Pcnt7_i_i_a6_0_4),
	.I2(N_25),
	.I3(un1_Lcnt_2_cry_2_0_SUM),
	.F(Lcnt_3[2])
);
defparam \Lcnt_3_cZ[2] .INIT=16'hF700;
// @6:30
  LUT4 \Lcnt_3_cZ[3]  (
	.I0(un1_Pcnt7_i_i_a6_0_3),
	.I1(un1_Pcnt7_i_i_a6_0_4),
	.I2(N_25),
	.I3(un1_Lcnt_2_cry_3_0_SUM),
	.F(Lcnt_3[3])
);
defparam \Lcnt_3_cZ[3] .INIT=16'hF700;
// @6:30
  LUT4 \Pcnt_3_0_o3[0]  (
	.I0(Pcnt7),
	.I1(un1_Pcnt7_i_i_a6_0_3),
	.I2(un1_Pcnt7_i_i_a6_0_4),
	.I3(N_25),
	.F(N_4)
);
defparam \Pcnt_3_0_o3[0] .INIT=16'hAAEA;
// @6:74
  LUT4 Ytop_c4 (
	.I0(Lcnt[3]),
	.I1(Lcnt[4]),
	.I2(Lcnt[5]),
	.I3(Lcnt[6]),
	.F(Ytop_c4_1z)
);
defparam Ytop_c4.INIT=16'hFFFE;
// @6:55
  LUT4 LCD_DE_i_a3_1_0 (
	.I0(Pcnt[4]),
	.I1(Pcnt[5]),
	.I2(Pcnt[7]),
	.I3(N_15),
	.F(LCD_DE_i_a3_1)
);
defparam LCD_DE_i_a3_1_0.INIT=16'hE0C0;
// @6:74
  LUT4 Ytop_axbxc3 (
	.I0(Lcnt[3]),
	.I1(Lcnt[4]),
	.I2(Lcnt[5]),
	.I3(Lcnt[6]),
	.F(regsel[1])
);
defparam Ytop_axbxc3.INIT=16'hFE01;
// @6:55
  LUT4 LCD_DE_i_1_0 (
	.I0(LCD_DE_i_a6_0),
	.I1(Lcnt[10]),
	.I2(Lcnt[11]),
	.I3(Pcnt[3]),
	.F(LCD_DE_i_1)
);
defparam LCD_DE_i_1_0.INIT=16'hFCFE;
// @6:55
  LUT3 LCD_DE_i_3_cZ (
	.I0(Pcnt[5]),
	.I1(N_48),
	.I2(N_49),
	.F(LCD_DE_i_3)
);
defparam LCD_DE_i_3_cZ.INIT=8'hF4;
// @6:51
  LUT4 LCD_HSYNC_1_i_a6_4_cZ (
	.I0(Pcnt[0]),
	.I1(Pcnt[2]),
	.I2(Pcnt[3]),
	.I3(N_49),
	.F(LCD_HSYNC_1_i_a6_4)
);
defparam LCD_HSYNC_1_i_a6_4_cZ.INIT=16'h0100;
// @6:55
  LUT4 LCD_DE_i_o3_1 (
	.I0(Pcnt[0]),
	.I1(Pcnt[2]),
	.I2(Pcnt[3]),
	.I3(Xtop_scalar),
	.F(N_15)
);
defparam LCD_DE_i_o3_1.INIT=16'hF8F0;
// @6:74
  LUT3 Ytop_axbxc2 (
	.I0(Lcnt[3]),
	.I1(Lcnt[4]),
	.I2(Lcnt[5]),
	.F(regsel[0])
);
defparam Ytop_axbxc2.INIT=8'hE1;
// @6:52
  LUT4 LCD_VSYNC_1_i_o3_0 (
	.I0(LCD_VSYNC_1_i_o3_0_1),
	.I1(Lcnt[6]),
	.I2(Lcnt_0),
	.I3(Lcnt[8]),
	.F(N_25)
);
defparam LCD_VSYNC_1_i_o3_0.INIT=16'hFFFE;
// @6:55
  LUT4 LCD_DE_i_4_1 (
	.I0(Pcnt[7]),
	.I1(Pcnt[8]),
	.I2(Pcnt[9]),
	.I3(N_39),
	.F(LCD_DE_i_4)
);
defparam LCD_DE_i_4_1.INIT=16'hFF01;
// @6:55
  LUT3 LCD_DE_i_a6_0_0 (
	.I0(Pcnt[2]),
	.I1(Xtop_scalar),
	.I2(N_48),
	.F(LCD_DE_i_a6_0)
);
defparam LCD_DE_i_a6_0_0.INIT=8'h70;
// @6:30
  LUT4 un1_Pcnt7_i_i_a6_0_4_cZ (
	.I0(Lcnt[0]),
	.I1(Lcnt[1]),
	.I2(Lcnt[2]),
	.I3(un1_Pcnt7_i_i_a6_0_2),
	.F(un1_Pcnt7_i_i_a6_0_4)
);
defparam un1_Pcnt7_i_i_a6_0_4_cZ.INIT=16'h2000;
// @6:55
  LUT4 LCD_DE_i_2 (
	.I0(Lcnt[12]),
	.I1(Lcnt[13]),
	.I2(Lcnt[14]),
	.I3(Lcnt[15]),
	.F(N_8_1)
);
defparam LCD_DE_i_2.INIT=16'hFFFE;
// @6:55
  LUT3 LCD_DE_i_a3_2_cZ (
	.I0(Pcnt[6]),
	.I1(Pcnt[8]),
	.I2(Pcnt[9]),
	.F(N_48)
);
defparam LCD_DE_i_a3_2_cZ.INIT=8'h01;
// @6:55
  LUT4 LCD_DE_i_a6_1 (
	.I0(Lcnt[5]),
	.I1(Lcnt[6]),
	.I2(Lcnt_0),
	.I3(Lcnt[8]),
	.F(N_39)
);
defparam LCD_DE_i_a6_1.INIT=16'h8000;
// @6:55
  LUT3 LCD_DE_i_a3_2_0 (
	.I0(Pcnt[6]),
	.I1(Pcnt[8]),
	.I2(Pcnt[9]),
	.F(LCD_DE_i_a3_2)
);
defparam LCD_DE_i_a3_2_0.INIT=8'h80;
// @6:77
  LUT2 Pdat_1_cZ (
	.I0(ANB1),
	.I1(CO0),
	.F(Pdat_1)
);
defparam Pdat_1_cZ.INIT=4'h1;
// @6:51
  LUT3 LCD_HSYNC_1_i_a6_3_cZ (
	.I0(Pcnt[5]),
	.I1(Pcnt[7]),
	.I2(Xtop_scalar),
	.F(LCD_HSYNC_1_i_a6_3)
);
defparam LCD_HSYNC_1_i_a6_3_cZ.INIT=8'h01;
// @6:30
  LUT4 un1_Pcnt7_i_i_a6_0_2_cZ (
	.I0(Lcnt[3]),
	.I1(Lcnt[9]),
	.I2(Lcnt[10]),
	.I3(Lcnt[11]),
	.F(un1_Pcnt7_i_i_a6_0_2)
);
defparam un1_Pcnt7_i_i_a6_0_2_cZ.INIT=16'h0008;
// @6:30
  LUT4 un1_Pcnt7_i_i_a6_0_3_cZ (
	.I0(Lcnt[12]),
	.I1(Lcnt[13]),
	.I2(Lcnt[14]),
	.I3(Lcnt[15]),
	.F(un1_Pcnt7_i_i_a6_0_3)
);
defparam un1_Pcnt7_i_i_a6_0_3_cZ.INIT=16'h0001;
// @6:52
  LUT2 LCD_VSYNC_1_i_o3_0_1_cZ (
	.I0(Lcnt[4]),
	.I1(Lcnt[5]),
	.F(LCD_VSYNC_1_i_o3_0_1)
);
defparam LCD_VSYNC_1_i_o3_0_1_cZ.INIT=4'hE;
// @6:52
  LUT4 LCD_VSYNC_1_i_0_1_1_cZ (
	.I0(Lcnt[0]),
	.I1(Lcnt[1]),
	.I2(Lcnt[2]),
	.I3(Lcnt[3]),
	.F(LCD_VSYNC_1_i_0_1_1)
);
defparam LCD_VSYNC_1_i_0_1_1_cZ.INIT=16'h3F1F;
// @6:52
  LUT4 LCD_VSYNC_1_i_0_1_0_cZ (
	.I0(LCD_VSYNC_1_i_0_1_1),
	.I1(Lcnt[3]),
	.I2(Lcnt[9]),
	.I3(N_25),
	.F(LCD_VSYNC_1_i_0_1_0)
);
defparam LCD_VSYNC_1_i_0_1_0_cZ.INIT=16'h0FBD;
// @6:52
  LUT4 LCD_VSYNC_1_i_0 (
	.I0(LCD_VSYNC_1_i_0_1_0),
	.I1(Lcnt[10]),
	.I2(Lcnt[11]),
	.I3(N_8_1),
	.F(N_8)
);
defparam LCD_VSYNC_1_i_0.INIT=16'hFFFD;
// @6:55
  LUT4 g0_0 (
	.I0(Pcnt[12]),
	.I1(Pcnt[13]),
	.I2(Pcnt[14]),
	.I3(Pcnt[15]),
	.F(N_10_1)
);
defparam g0_0.INIT=16'hFFFE;
// @6:55
  LUT4 g0_3 (
	.I0(Pcnt[4]),
	.I1(Pcnt[6]),
	.I2(Pcnt[8]),
	.I3(Pcnt[9]),
	.F(N_49)
);
defparam g0_3.INIT=16'h0001;
  LUT4 g0_1_8_cZ (
	.I0(Pcnt_fast[1]),
	.I1(Pcnt_fast[5]),
	.I2(Pcnt_fast[6]),
	.I3(Pcnt_fast[7]),
	.F(g0_1_8)
);
defparam g0_1_8_cZ.INIT=16'h0400;
  LUT4 g0_1_9_cZ (
	.I0(Pcnt[14]),
	.I1(Pcnt[15]),
	.I2(Pcnt_fast[2]),
	.I3(Pcnt_fast[4]),
	.F(g0_1_9)
);
defparam g0_1_9_cZ.INIT=16'h0001;
  LUT4 g0_1_10_cZ (
	.I0(Pcnt[11]),
	.I1(Pcnt[12]),
	.I2(Pcnt[13]),
	.I3(Pcnt_fast[8]),
	.F(g0_1_10)
);
defparam g0_1_10_cZ.INIT=16'h0001;
// @6:30
  LUT2 \Pcnt_3_fast_cZ[3]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_3_0_SUM),
	.F(Pcnt_3_fast[3])
);
defparam \Pcnt_3_fast_cZ[3] .INIT=4'h4;
// @6:30
  LUT2 \Pcnt_3_fast_cZ[5]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_5_0_SUM),
	.F(Pcnt_3_fast[5])
);
defparam \Pcnt_3_fast_cZ[5] .INIT=4'h4;
// @6:30
  LUT2 \Pcnt_3_fast_cZ[7]  (
	.I0(N_4),
	.I1(un3_Pcnt_1_cry_7_0_SUM),
	.F(Pcnt_3_fast[7])
);
defparam \Pcnt_3_fast_cZ[7] .INIT=4'h4;
  LUT4 g0_1_1_0_cZ (
	.I0(Pcnt_fast[3]),
	.I1(Pcnt_fast[9]),
	.I2(g0_1_9),
	.I3(g0_1_10),
	.F(g0_1_1_0)
);
defparam g0_1_1_0_cZ.INIT=16'h0000;
  LUT4 g0_1_1_1_cZ (
	.I0(Pcnt_fast[3]),
	.I1(Pcnt_fast[9]),
	.I2(g0_1_9),
	.I3(g0_1_10),
	.F(g0_1_1_1)
);
defparam g0_1_1_1_cZ.INIT=16'h2000;
  LUT4 g0_1_0_0_cZ (
	.I0(Pcnt_fast[3]),
	.I1(Pcnt_fast[9]),
	.I2(g0_1_9),
	.I3(g0_1_10),
	.F(g0_1_0_0)
);
defparam g0_1_0_0_cZ.INIT=16'h0000;
  LUT4 g0_1_0_1_cZ (
	.I0(Pcnt_fast[3]),
	.I1(Pcnt_fast[9]),
	.I2(g0_1_9),
	.I3(g0_1_10),
	.F(g0_1_0_1)
);
defparam g0_1_0_1_cZ.INIT=16'h0000;
  MUX2_LUT5 g0_1_0_cZ (
	.I0(g0_1_0_0),
	.I1(g0_1_0_1),
	.S0(Pcnt[10]),
	.O(g0_1_0)
);
  MUX2_LUT5 g0_1_1_cZ (
	.I0(g0_1_1_0),
	.I1(g0_1_1_1),
	.S0(Pcnt[10]),
	.O(g0_1_1)
);
// @6:30
  MUX2_LUT6 g0_1 (
	.I0(g0_1_0),
	.I1(g0_1_1),
	.S0(g0_1_8),
	.O(Pcnt7)
);
// @6:29
  DFFC \Pcnt_fast_Z[9]  (
	.Q(Pcnt_fast[9]),
	.D(un3_Pcnt_1_cry_9_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[7]  (
	.Q(Pcnt_fast[7]),
	.D(Pcnt_3_fast[7]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[6]  (
	.Q(Pcnt_fast[6]),
	.D(un3_Pcnt_1_cry_6_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[5]  (
	.Q(Pcnt_fast[5]),
	.D(Pcnt_3_fast[5]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[8]  (
	.Q(Pcnt_fast[8]),
	.D(un3_Pcnt_1_cry_8_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[3]  (
	.Q(Pcnt_fast[3]),
	.D(Pcnt_3_fast[3]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[2]  (
	.Q(Pcnt_fast[2]),
	.D(un3_Pcnt_1_cry_2_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[1]  (
	.Q(Pcnt_fast[1]),
	.D(un3_Pcnt_1_cry_1_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_fast_Z[4]  (
	.Q(Pcnt_fast[4]),
	.D(un3_Pcnt_1_cry_4_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[12]  (
	.Q(Lcnt[12]),
	.D(un1_Lcnt_2_cry_12_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[11]  (
	.Q(Lcnt[11]),
	.D(un1_Lcnt_2_cry_11_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[10]  (
	.Q(Lcnt[10]),
	.D(un1_Lcnt_2_cry_10_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[9]  (
	.Q(Lcnt[9]),
	.D(Lcnt_3[9]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[8]  (
	.Q(Lcnt[8]),
	.D(un1_Lcnt_2_cry_8_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt[7]  (
	.Q(Lcnt_0),
	.D(un1_Lcnt_2_cry_7_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[6]  (
	.Q(Lcnt[6]),
	.D(un1_Lcnt_2_cry_6_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[5]  (
	.Q(Lcnt[5]),
	.D(un1_Lcnt_2_cry_5_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[4]  (
	.Q(Lcnt[4]),
	.D(un1_Lcnt_2_cry_4_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[3]  (
	.Q(Lcnt[3]),
	.D(Lcnt_3[3]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[2]  (
	.Q(Lcnt[2]),
	.D(Lcnt_3[2]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[1]  (
	.Q(Lcnt[1]),
	.D(un1_Lcnt_2_cry_1_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[0]  (
	.Q(Lcnt[0]),
	.D(Lcnt_3[0]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[11]  (
	.Q(Pcnt[11]),
	.D(un3_Pcnt_1_cry_11_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[10]  (
	.Q(Pcnt[10]),
	.D(Pcnt_3[10]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[9]  (
	.Q(Pcnt[9]),
	.D(un3_Pcnt_1_cry_9_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[8]  (
	.Q(Pcnt[8]),
	.D(un3_Pcnt_1_cry_8_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[7]  (
	.Q(Pcnt[7]),
	.D(Pcnt_3[7]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[6]  (
	.Q(Pcnt[6]),
	.D(un3_Pcnt_1_cry_6_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[5]  (
	.Q(Pcnt[5]),
	.D(Pcnt_3[5]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[4]  (
	.Q(Pcnt[4]),
	.D(un3_Pcnt_1_cry_4_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[3]  (
	.Q(Pcnt[3]),
	.D(Pcnt_3[3]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[2]  (
	.Q(Pcnt[2]),
	.D(un3_Pcnt_1_cry_2_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt[1]  (
	.Q(Xtop_scalar),
	.D(un3_Pcnt_1_cry_1_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[0]  (
	.Q(Pcnt[0]),
	.D(Pcnt_3[0]),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[15]  (
	.Q(Lcnt[15]),
	.D(un1_Lcnt_2_s_15_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[14]  (
	.Q(Lcnt[14]),
	.D(un1_Lcnt_2_cry_14_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Lcnt_Z[13]  (
	.Q(Lcnt[13]),
	.D(un1_Lcnt_2_cry_13_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[15]  (
	.Q(Pcnt[15]),
	.D(un3_Pcnt_1_s_15_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[14]  (
	.Q(Pcnt[14]),
	.D(un3_Pcnt_1_cry_14_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[13]  (
	.Q(Pcnt[13]),
	.D(un3_Pcnt_1_cry_13_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:29
  DFFC \Pcnt_Z[12]  (
	.Q(Pcnt[12]),
	.D(un3_Pcnt_1_cry_12_0_SUM),
	.CLK(LCD_CLK_c),
	.CLEAR(nRST_c_i)
);
// @6:73
  ALU Xtop_s_7_0 (
	.CIN(Xtop_cry_6),
	.I0(Pcnt[8]),
	.I1(GND),
	.I3(GND),
	.COUT(Xtop_s_7_0_COUT),
	.SUM(ANB1)
);
defparam Xtop_s_7_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_6_0 (
	.CIN(Xtop_cry_5),
	.I0(Pcnt[7]),
	.I1(VCC),
	.I3(GND),
	.COUT(Xtop_cry_6),
	.SUM(CO0)
);
defparam Xtop_cry_6_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_5_0 (
	.CIN(Xtop_cry_4),
	.I0(Pcnt[6]),
	.I1(VCC),
	.I3(GND),
	.COUT(Xtop_cry_5),
	.SUM(Xtop[6])
);
defparam Xtop_cry_5_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_4_0 (
	.CIN(Xtop_cry_3),
	.I0(Pcnt[5]),
	.I1(GND),
	.I3(GND),
	.COUT(Xtop_cry_4),
	.SUM(Xtop[5])
);
defparam Xtop_cry_4_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_3_0 (
	.CIN(Xtop_cry_2),
	.I0(Pcnt[4]),
	.I1(GND),
	.I3(GND),
	.COUT(Xtop_cry_3),
	.SUM(Xtop[4])
);
defparam Xtop_cry_3_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_2_0 (
	.CIN(Xtop_cry_1),
	.I0(Pcnt[3]),
	.I1(VCC),
	.I3(GND),
	.COUT(Xtop_cry_2),
	.SUM(Xtop[3])
);
defparam Xtop_cry_2_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_1_0 (
	.CIN(Xtop_cry_0),
	.I0(Pcnt[2]),
	.I1(GND),
	.I3(GND),
	.COUT(Xtop_cry_1),
	.SUM(Xtop[2])
);
defparam Xtop_cry_1_0.ALU_MODE=0;
// @6:73
  ALU Xtop_cry_0_0 (
	.CIN(GND),
	.I0(Xtop_scalar),
	.I1(VCC),
	.I3(GND),
	.COUT(Xtop_cry_0),
	.SUM(Xtop_cry_0_0_SUM)
);
defparam Xtop_cry_0_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_s_15_0 (
	.CIN(un3_Pcnt_1_cry_14),
	.I0(Pcnt[15]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_s_15_0_COUT),
	.SUM(un3_Pcnt_1_s_15_0_SUM)
);
defparam un3_Pcnt_1_s_15_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_14_0 (
	.CIN(un3_Pcnt_1_cry_13),
	.I0(Pcnt[14]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_14),
	.SUM(un3_Pcnt_1_cry_14_0_SUM)
);
defparam un3_Pcnt_1_cry_14_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_13_0 (
	.CIN(un3_Pcnt_1_cry_12),
	.I0(Pcnt[13]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_13),
	.SUM(un3_Pcnt_1_cry_13_0_SUM)
);
defparam un3_Pcnt_1_cry_13_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_12_0 (
	.CIN(un3_Pcnt_1_cry_11),
	.I0(Pcnt[12]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_12),
	.SUM(un3_Pcnt_1_cry_12_0_SUM)
);
defparam un3_Pcnt_1_cry_12_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_11_0 (
	.CIN(un3_Pcnt_1_cry_10),
	.I0(Pcnt[11]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_11),
	.SUM(un3_Pcnt_1_cry_11_0_SUM)
);
defparam un3_Pcnt_1_cry_11_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_10_0 (
	.CIN(un3_Pcnt_1_cry_9),
	.I0(Pcnt[10]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_10),
	.SUM(un3_Pcnt_1_cry_10_0_SUM)
);
defparam un3_Pcnt_1_cry_10_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_9_0 (
	.CIN(un3_Pcnt_1_cry_8),
	.I0(Pcnt[9]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_9),
	.SUM(un3_Pcnt_1_cry_9_0_SUM)
);
defparam un3_Pcnt_1_cry_9_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_8_0 (
	.CIN(un3_Pcnt_1_cry_7),
	.I0(Pcnt[8]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_8),
	.SUM(un3_Pcnt_1_cry_8_0_SUM)
);
defparam un3_Pcnt_1_cry_8_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_7_0 (
	.CIN(un3_Pcnt_1_cry_6),
	.I0(Pcnt[7]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_7),
	.SUM(un3_Pcnt_1_cry_7_0_SUM)
);
defparam un3_Pcnt_1_cry_7_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_6_0 (
	.CIN(un3_Pcnt_1_cry_5),
	.I0(Pcnt[6]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_6),
	.SUM(un3_Pcnt_1_cry_6_0_SUM)
);
defparam un3_Pcnt_1_cry_6_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_5_0 (
	.CIN(un3_Pcnt_1_cry_4),
	.I0(Pcnt[5]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_5),
	.SUM(un3_Pcnt_1_cry_5_0_SUM)
);
defparam un3_Pcnt_1_cry_5_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_4_0 (
	.CIN(un3_Pcnt_1_cry_3),
	.I0(Pcnt[4]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_4),
	.SUM(un3_Pcnt_1_cry_4_0_SUM)
);
defparam un3_Pcnt_1_cry_4_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_3_0 (
	.CIN(un3_Pcnt_1_cry_2),
	.I0(Pcnt[3]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_3),
	.SUM(un3_Pcnt_1_cry_3_0_SUM)
);
defparam un3_Pcnt_1_cry_3_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_2_0 (
	.CIN(un3_Pcnt_1_cry_1),
	.I0(Pcnt[2]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_2),
	.SUM(un3_Pcnt_1_cry_2_0_SUM)
);
defparam un3_Pcnt_1_cry_2_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_1_0 (
	.CIN(un3_Pcnt_1_cry_0),
	.I0(Xtop_scalar),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_1),
	.SUM(un3_Pcnt_1_cry_1_0_SUM)
);
defparam un3_Pcnt_1_cry_1_0.ALU_MODE=0;
// @6:37
  ALU un3_Pcnt_1_cry_0_0 (
	.CIN(VCC),
	.I0(Pcnt[0]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_Pcnt_1_cry_0),
	.SUM(un3_Pcnt_1_cry_0_0_SUM)
);
defparam un3_Pcnt_1_cry_0_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_s_15_0 (
	.CIN(un1_Lcnt_2_cry_14),
	.I0(Lcnt[15]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_s_15_0_COUT),
	.SUM(un1_Lcnt_2_s_15_0_SUM)
);
defparam un1_Lcnt_2_s_15_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_14_0 (
	.CIN(un1_Lcnt_2_cry_13),
	.I0(Lcnt[14]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_14),
	.SUM(un1_Lcnt_2_cry_14_0_SUM)
);
defparam un1_Lcnt_2_cry_14_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_13_0 (
	.CIN(un1_Lcnt_2_cry_12),
	.I0(Lcnt[13]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_13),
	.SUM(un1_Lcnt_2_cry_13_0_SUM)
);
defparam un1_Lcnt_2_cry_13_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_12_0 (
	.CIN(un1_Lcnt_2_cry_11),
	.I0(Lcnt[12]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_12),
	.SUM(un1_Lcnt_2_cry_12_0_SUM)
);
defparam un1_Lcnt_2_cry_12_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_11_0 (
	.CIN(un1_Lcnt_2_cry_10),
	.I0(Lcnt[11]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_11),
	.SUM(un1_Lcnt_2_cry_11_0_SUM)
);
defparam un1_Lcnt_2_cry_11_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_10_0 (
	.CIN(un1_Lcnt_2_cry_9),
	.I0(Lcnt[10]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_10),
	.SUM(un1_Lcnt_2_cry_10_0_SUM)
);
defparam un1_Lcnt_2_cry_10_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_9_0 (
	.CIN(un1_Lcnt_2_cry_8),
	.I0(Lcnt[9]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_9),
	.SUM(un1_Lcnt_2_cry_9_0_SUM)
);
defparam un1_Lcnt_2_cry_9_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_8_0 (
	.CIN(un1_Lcnt_2_cry_7),
	.I0(Lcnt[8]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_8),
	.SUM(un1_Lcnt_2_cry_8_0_SUM)
);
defparam un1_Lcnt_2_cry_8_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_7_0 (
	.CIN(un1_Lcnt_2_cry_6),
	.I0(Lcnt_0),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_7),
	.SUM(un1_Lcnt_2_cry_7_0_SUM)
);
defparam un1_Lcnt_2_cry_7_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_6_0 (
	.CIN(un1_Lcnt_2_cry_5),
	.I0(Lcnt[6]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_6),
	.SUM(un1_Lcnt_2_cry_6_0_SUM)
);
defparam un1_Lcnt_2_cry_6_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_5_0 (
	.CIN(un1_Lcnt_2_cry_4),
	.I0(Lcnt[5]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_5),
	.SUM(un1_Lcnt_2_cry_5_0_SUM)
);
defparam un1_Lcnt_2_cry_5_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_4_0 (
	.CIN(un1_Lcnt_2_cry_3),
	.I0(Lcnt[4]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_4),
	.SUM(un1_Lcnt_2_cry_4_0_SUM)
);
defparam un1_Lcnt_2_cry_4_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_3_0 (
	.CIN(un1_Lcnt_2_cry_2),
	.I0(Lcnt[3]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_3),
	.SUM(un1_Lcnt_2_cry_3_0_SUM)
);
defparam un1_Lcnt_2_cry_3_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_2_0 (
	.CIN(un1_Lcnt_2_cry_1),
	.I0(Lcnt[2]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_2),
	.SUM(un1_Lcnt_2_cry_2_0_SUM)
);
defparam un1_Lcnt_2_cry_2_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_1_0 (
	.CIN(un1_Lcnt_2_cry_0),
	.I0(Lcnt[1]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_1),
	.SUM(un1_Lcnt_2_cry_1_0_SUM)
);
defparam un1_Lcnt_2_cry_1_0.ALU_MODE=0;
// @6:33
  ALU un1_Lcnt_2_cry_0_0 (
	.CIN(Pcnt7),
	.I0(Lcnt[0]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_Lcnt_2_cry_0),
	.SUM(un1_Lcnt_2_cry_0_0_SUM)
);
defparam un1_Lcnt_2_cry_0_0.ALU_MODE=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* VGAMod */

module td4_logic (
  count_0,
  Lcnt_0,
  regsel,
  regdat_0,
  OUT_i,
  nRST_c_i,
  KEY_c,
  Ytop_c4,
  N_42,
  N_41,
  N_43
)
;
input count_0 ;
input Lcnt_0 ;
input [2:0] regsel ;
output regdat_0 ;
output [2:0] OUT_i ;
input nRST_c_i ;
input KEY_c ;
input Ytop_c4 ;
output N_42 ;
output N_41 ;
output N_43 ;
wire count_0 ;
wire Lcnt_0 ;
wire regdat_0 ;
wire nRST_c_i ;
wire KEY_c ;
wire Ytop_c4 ;
wire N_42 ;
wire N_41 ;
wire N_43 ;
wire [3:0] OUT;
wire [0:0] regdat_6_0;
wire [3:0] A;
wire [3:3] IM_i;
wire [4:0] ALU;
wire [3:3] CHANNELdup;
wire [2:0] IM;
wire [3:1] PC;
wire [0:0] un10_PC_1;
wire [3:3] un10_PC_2_tz;
wire [3:1] un10_PC_0;
wire [1:1] un10_PC_0_1_1;
wire [0:0] un10_PC;
wire [2:2] un10_PC_0_1_0;
wire N_32 ;
wire N_36 ;
wire N_40 ;
wire N_35 ;
wire N_39 ;
wire N_33 ;
wire N_34 ;
wire ALU_ac0_3_0_a0 ;
wire ALU_ac0_3_0 ;
wire ALU_axbxc3dup ;
wire ALU_ac0_2 ;
wire ALU_c2_1 ;
wire CO0 ;
wire LOAD2_i ;
wire g0_0 ;
wire ALU_c1 ;
wire ALU_axbxc1dup ;
wire N_10 ;
wire ALU_ac0_2_s_a0 ;
wire ALU_ac0_3_0_a0_2_0 ;
wire C ;
wire ALU_ac0_0_a0_1_0 ;
wire ALU_ac0_0_a0_1 ;
wire ALU_ac0_5_0_a0_0 ;
wire ALU_ac0_3_0_1 ;
wire ALU_ac0_1_a2_1 ;
wire ALU_ac0_5_0_1 ;
wire ALU_ac0_1_1 ;
wire ALU_ac0_1_a0_0 ;
wire ALU_ac0_5_1 ;
wire N_2_0 ;
wire ALU_c2_1_1_0 ;
wire g0_0_0 ;
wire g1_0_0 ;
wire g0 ;
wire g0_3_1 ;
wire g0_0_N_2L1 ;
wire g0_0_N_3L3 ;
wire ALU_axbxc1_1_N_2L1 ;
wire GND ;
wire VCC ;
// @8:27
  MUX2_LUT5 \regdat_3[0]  (
	.I0(N_32),
	.I1(N_36),
	.S0(regsel[0]),
	.O(N_40)
);
// @8:27
  MUX2_LUT5 \regdat_3[3]  (
	.I0(N_35),
	.I1(N_39),
	.S0(regsel[0]),
	.O(N_43)
);
  INV \OUT_i_cZ[0]  (
	.I(OUT[0]),
	.O(OUT_i[0])
);
  INV \OUT_i_cZ[1]  (
	.I(OUT[1]),
	.O(OUT_i[1])
);
  INV \OUT_i_cZ[2]  (
	.I(OUT[2]),
	.O(OUT_i[2])
);
// @8:27
  LUT4 \regdat_7[0]  (
	.I0(regsel[0]),
	.I1(regsel[1]),
	.I2(N_40),
	.I3(regdat_6_0[0]),
	.F(regdat_0)
);
defparam \regdat_7[0] .INIT=16'hB830;
// @8:27
  LUT4 \regdat_3[1]  (
	.I0(regsel[0]),
	.I1(regsel[2]),
	.I2(A[1]),
	.I3(N_33),
	.F(N_41)
);
defparam \regdat_3[1] .INIT=16'h7520;
// @8:27
  LUT4 \regdat_3[2]  (
	.I0(regsel[0]),
	.I1(regsel[2]),
	.I2(A[2]),
	.I3(N_34),
	.F(N_42)
);
defparam \regdat_3[2] .INIT=16'h7520;
// @8:59
  LUT4 ALU_axbxc3 (
	.I0(ALU_ac0_3_0_a0),
	.I1(ALU_ac0_3_0),
	.I2(A[3]),
	.I3(IM_i[3]),
	.F(ALU[3])
);
defparam ALU_axbxc3.INIT=16'h1EE1;
// @8:59
  LUT4 ALU_axbxc3dup_cZ (
	.I0(ALU_ac0_3_0_a0),
	.I1(CHANNELdup[3]),
	.I2(ALU_ac0_3_0),
	.I3(IM_i[3]),
	.F(ALU_axbxc3dup)
);
defparam ALU_axbxc3dup_cZ.INIT=16'h36C9;
// @8:59
  LUT4 ALU_axbxc2 (
	.I0(ALU_ac0_2),
	.I1(ALU_c2_1),
	.I2(A[2]),
	.I3(IM[2]),
	.F(ALU[2])
);
defparam ALU_axbxc2.INIT=16'hE11E;
// @8:36
  LUT4 LOAD2_i_cZ (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(LOAD2_i)
);
defparam LOAD2_i_cZ.INIT=16'h4C21;
// @8:59
  LUT3 ALU_axb0dup (
	.I0(A[0]),
	.I1(IM[0]),
	.I2(g0_0),
	.F(un10_PC_1[0])
);
defparam ALU_axb0dup.INIT=8'h6C;
// @8:59
  LUT4 ALU_axbxc1dup_cZ (
	.I0(ALU_c1),
	.I1(A[1]),
	.I2(IM[1]),
	.I3(g0_0),
	.F(ALU_axbxc1dup)
);
defparam ALU_axbxc1dup_cZ.INIT=16'h965A;
// @8:59
  LUT2 ALU_axb0 (
	.I0(A[0]),
	.I1(IM[0]),
	.F(ALU[0])
);
defparam ALU_axb0.INIT=4'h6;
// @8:53
  LUT2 \CHANNELdup_cZ[3]  (
	.I0(A[3]),
	.I1(g0_0),
	.F(CHANNELdup[3])
);
defparam \CHANNELdup_cZ[3] .INIT=4'h8;
// @8:24
  LUT4 \OP_3_1_.m9  (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(N_10)
);
defparam \OP_3_1_.m9 .INIT=16'h5D6B;
// @8:23
  LUT4 \IM_0[0]  (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(IM[0])
);
defparam \IM_0[0] .INIT=16'h915F;
// @8:59
  LUT4 ALU_v (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(IM[1])
);
defparam ALU_v.INIT=16'hA0B1;
// @8:59
  LUT4 ALU_ac0_2_s_0 (
	.I0(ALU_ac0_2_s_a0),
	.I1(A[1]),
	.I2(CO0),
	.I3(PC[2]),
	.F(ALU_ac0_2)
);
defparam ALU_ac0_2_s_0.INIT=16'hEAAA;
// @8:59
  LUT4 ALU_ac0_3_0_a0_cZ (
	.I0(ALU_ac0_3_0_a0_2_0),
	.I1(A[0]),
	.I2(CO0),
	.I3(PC[1]),
	.F(ALU_ac0_3_0_a0)
);
defparam ALU_ac0_3_0_a0_cZ.INIT=16'h0800;
// @8:23
  LUT4 \IM_i_cZ[3]  (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(IM_i[3])
);
defparam \IM_i_cZ[3] .INIT=16'h1DFF;
// @8:59
  LUT4 ALU_ac0_2_s_a0_cZ (
	.I0(A[1]),
	.I1(CO0),
	.I2(PC[1]),
	.I3(PC[3]),
	.F(ALU_ac0_2_s_a0)
);
defparam ALU_ac0_2_s_a0_cZ.INIT=16'h0002;
// @8:41
  LUT4 \un10_PC_3_tz[3]  (
	.I0(C),
	.I1(CO0),
	.I2(PC[1]),
	.I3(PC[2]),
	.F(un10_PC_2_tz[3])
);
defparam \un10_PC_3_tz[3] .INIT=16'h7FFF;
// @8:59
  LUT3 ALU_ac0_0_a0_1_0_cZ (
	.I0(A[0]),
	.I1(CO0),
	.I2(PC[3]),
	.F(ALU_ac0_0_a0_1_0)
);
defparam ALU_ac0_0_a0_1_0_cZ.INIT=8'h02;
// @8:59
  LUT4 ALU_ac0_3_0_a0_2_0_cZ (
	.I0(A[1]),
	.I1(A[2]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(ALU_ac0_3_0_a0_2_0)
);
defparam ALU_ac0_3_0_a0_2_0_cZ.INIT=16'h0080;
// @8:59
  LUT2 ALU_ac0_0_a0_1_cZ (
	.I0(PC[1]),
	.I1(PC[2]),
	.F(ALU_ac0_0_a0_1)
);
defparam ALU_ac0_0_a0_1_cZ.INIT=4'h8;
// @8:59
  LUT2 ALU_ac0_5_0_a0_0_cZ (
	.I0(A[2]),
	.I1(A[3]),
	.F(ALU_ac0_5_0_a0_0)
);
defparam ALU_ac0_5_0_a0_0_cZ.INIT=4'h8;
// @8:41
  LUT2 \un10_PC_0_cZ[3]  (
	.I0(PC[3]),
	.I1(un10_PC_2_tz[3]),
	.F(un10_PC_0[3])
);
defparam \un10_PC_0_cZ[3] .INIT=4'h9;
// @8:59
  LUT4 ALU_ac0_3_0_1_cZ (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(ALU_ac0_3_0_1)
);
defparam ALU_ac0_3_0_1_cZ.INIT=16'h110A;
// @8:59
  LUT4 ALU_ac0_3_0_cZ (
	.I0(ALU_ac0_3_0_1),
	.I1(A[0]),
	.I2(A[1]),
	.I3(A[2]),
	.F(ALU_ac0_3_0)
);
defparam ALU_ac0_3_0_cZ.INIT=16'h8000;
// @8:59
  LUT4 ALU_ac0_5_0_1_cZ (
	.I0(ALU_ac0_1_a2_1),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(ALU_ac0_5_0_1)
);
defparam ALU_ac0_5_0_1_cZ.INIT=16'h5515;
// @8:59
  LUT4 ALU_ac0_1_1_cZ (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(ALU_ac0_1_1)
);
defparam ALU_ac0_1_1_cZ.INIT=16'h110A;
// @8:59
  LUT4 ALU_ac0_1 (
	.I0(ALU_ac0_0_a0_1),
	.I1(ALU_ac0_0_a0_1_0),
	.I2(ALU_ac0_1_1),
	.I3(A[0]),
	.F(ALU_c1)
);
defparam ALU_ac0_1.INIT=16'hF888;
// @8:59
  LUT4 ALU_ac0_5_1_cZ (
	.I0(ALU_ac0_1_a0_0),
	.I1(CO0),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(ALU_ac0_5_1)
);
defparam ALU_ac0_5_1_cZ.INIT=16'h1119;
// @8:59
  LUT4 ALU_ac0_5 (
	.I0(ALU_ac0_5_0_1),
	.I1(ALU_ac0_5_0_a0_0),
	.I2(ALU_ac0_5_1),
	.I3(CO0),
	.F(ALU[4])
);
defparam ALU_ac0_5.INIT=16'hC004;
// @8:41
  LUT4 \un10_PC_0_1_1_cZ[1]  (
	.I0(C),
	.I1(CO0),
	.I2(PC[1]),
	.I3(PC[3]),
	.F(un10_PC_0_1_1[1])
);
defparam \un10_PC_0_1_1_cZ[1] .INIT=16'h4451;
// @8:41
  LUT4 \un10_PC_0_cZ[1]  (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(un10_PC_0_1_1[1]),
	.F(un10_PC_0[1])
);
defparam \un10_PC_0_cZ[1] .INIT=16'hF066;
// @8:59
  LUT4 g0_cZ (
	.I0(N_2_0),
	.I1(ALU_c2_1_1_0),
	.I2(g0_0_0),
	.I3(g1_0_0),
	.F(g0)
);
defparam g0_cZ.INIT=16'h4B5A;
  LUT3 g0_0_0_cZ (
	.I0(A[2]),
	.I1(IM[2]),
	.I2(g0_0),
	.F(g0_0_0)
);
defparam g0_0_0_cZ.INIT=8'h6C;
// @8:23
  LUT4 g0_2 (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(IM[2])
);
defparam g0_2.INIT=16'h88A1;
// @8:24
  LUT4 \OP_3_1_.g0  (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(g0_0)
);
defparam \OP_3_1_.g0 .INIT=16'h114A;
// @8:59
  LUT4 g0_i (
	.I0(ALU_ac0_0_a0_1),
	.I1(ALU_ac0_1_a2_1),
	.I2(CO0),
	.I3(PC[3]),
	.F(ALU_c2_1_1_0)
);
defparam g0_i.INIT=16'hF3F1;
// @8:59
  LUT4 g0_3 (
	.I0(A[0]),
	.I1(A[1]),
	.I2(PC[3]),
	.I3(g0_3_1),
	.F(N_2_0)
);
defparam g0_3.INIT=16'h0800;
// @8:59
  LUT2 g0_4 (
	.I0(A[0]),
	.I1(A[1]),
	.F(ALU_ac0_1_a0_0)
);
defparam g0_4.INIT=4'h8;
  LUT2 g0_3_1_cZ (
	.I0(CO0),
	.I1(PC[2]),
	.F(g0_3_1)
);
defparam g0_3_1_cZ.INIT=4'h2;
  LUT2 g1_0_0_cZ (
	.I0(A[0]),
	.I1(A[1]),
	.F(g1_0_0)
);
defparam g1_0_0_cZ.INIT=4'h8;
// @8:59
  LUT2 g0_6 (
	.I0(PC[1]),
	.I1(PC[3]),
	.F(ALU_ac0_1_a2_1)
);
defparam g0_6.INIT=4'h4;
// @8:59
  LUT4 g0_0_cZ (
	.I0(CO0),
	.I1(g0_0_N_2L1),
	.I2(g0_0_N_3L3),
	.I3(g1_0_0),
	.F(ALU_c2_1)
);
defparam g0_0_cZ.INIT=16'h7020;
// @8:59
  LUT4 g0_0_N_3L3_cZ (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(g0_0_N_3L3)
);
defparam g0_0_N_3L3_cZ.INIT=16'h114A;
// @8:59
  LUT2 g0_0_N_2L1_cZ (
	.I0(A[0]),
	.I1(A[1]),
	.F(g0_0_N_2L1)
);
defparam g0_0_N_2L1_cZ.INIT=4'h7;
// @8:41
  LUT4 \un10_PC_cZ[0]  (
	.I0(C),
	.I1(CO0),
	.I2(N_10),
	.I3(un10_PC_1[0]),
	.F(un10_PC[0])
);
defparam \un10_PC_cZ[0] .INIT=16'h3732;
// @8:59
  LUT4 ALU_axbxc1_1_N_2L1_cZ (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(PC[3]),
	.F(ALU_axbxc1_1_N_2L1)
);
defparam ALU_axbxc1_1_N_2L1_cZ.INIT=16'h114A;
// @8:41
  LUT3 \un10_PC_0_1_0_cZ[2]  (
	.I0(CO0),
	.I1(PC[1]),
	.I2(PC[3]),
	.F(un10_PC_0_1_0[2])
);
defparam \un10_PC_0_1_0_cZ[2] .INIT=8'h56;
// @8:41
  LUT4 \un10_PC_0_cZ[2]  (
	.I0(C),
	.I1(PC[1]),
	.I2(PC[2]),
	.I3(un10_PC_0_1_0[2]),
	.F(un10_PC_0[2])
);
defparam \un10_PC_0_cZ[2] .INIT=16'hF06C;
// @8:59
  LUT4 ALU_axbxc1 (
	.I0(ALU_axbxc1_1_N_2L1),
	.I1(A[0]),
	.I2(A[1]),
	.I3(IM[1]),
	.F(ALU[1])
);
defparam ALU_axbxc1.INIT=16'h8778;
// @8:27
  LUT3 \regdat_6_0_cZ[0]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(C),
	.F(regdat_6_0[0])
);
defparam \regdat_6_0_cZ[0] .INIT=8'h60;
// @8:27
  LUT4 \regdat_2[3]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(count_0),
	.I3(A[3]),
	.F(N_39)
);
defparam \regdat_2[3] .INIT=16'h6F09;
// @8:27
  LUT4 \regdat_2[0]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(KEY_c),
	.I3(A[0]),
	.F(N_36)
);
defparam \regdat_2[0] .INIT=16'h6F09;
// @8:27
  LUT4 \regdat_1[3]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(OUT[3]),
	.I3(PC[3]),
	.F(N_35)
);
defparam \regdat_1[3] .INIT=16'hF690;
// @8:27
  LUT4 \regdat_1[2]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(OUT[2]),
	.I3(PC[2]),
	.F(N_34)
);
defparam \regdat_1[2] .INIT=16'hF690;
// @8:27
  LUT4 \regdat_1[1]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(OUT[1]),
	.I3(PC[1]),
	.F(N_33)
);
defparam \regdat_1[1] .INIT=16'hF690;
// @8:27
  LUT4 \regdat_1[0]  (
	.I0(Lcnt_0),
	.I1(Ytop_c4),
	.I2(OUT[0]),
	.I3(CO0),
	.F(N_32)
);
defparam \regdat_1[0] .INIT=16'hF690;
// @8:36
  DFFNR \PC[0]  (
	.Q(CO0),
	.D(un10_PC[0]),
	.CLK(count_0),
	.RESET(nRST_c_i)
);
// @8:36
  DFFNR \PC_Z[1]  (
	.Q(PC[1]),
	.D(un10_PC_0[1]),
	.CLK(count_0),
	.RESET(nRST_c_i)
);
// @8:36
  DFFNR \PC_Z[2]  (
	.Q(PC[2]),
	.D(un10_PC_0[2]),
	.CLK(count_0),
	.RESET(nRST_c_i)
);
// @8:36
  DFFNR \PC_Z[3]  (
	.Q(PC[3]),
	.D(un10_PC_0[3]),
	.CLK(count_0),
	.RESET(nRST_c_i)
);
// @8:36
  DFFNRE \OUT_Z[0]  (
	.Q(OUT[0]),
	.D(un10_PC_1[0]),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(LOAD2_i)
);
// @8:36
  DFFNRE \OUT_Z[1]  (
	.Q(OUT[1]),
	.D(ALU_axbxc1dup),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(LOAD2_i)
);
// @8:36
  DFFNRE \OUT_Z[2]  (
	.Q(OUT[2]),
	.D(g0),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(LOAD2_i)
);
// @8:36
  DFFNRE \OUT_Z[3]  (
	.Q(OUT[3]),
	.D(ALU_axbxc3dup),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(LOAD2_i)
);
// @8:36
  DFFNRE \A_Z[0]  (
	.Q(A[0]),
	.D(ALU[0]),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(g0_0)
);
// @8:36
  DFFNRE \A_Z[1]  (
	.Q(A[1]),
	.D(ALU[1]),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(g0_0)
);
// @8:36
  DFFNRE \A_Z[2]  (
	.Q(A[2]),
	.D(ALU[2]),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(g0_0)
);
// @8:36
  DFFNRE \A_Z[3]  (
	.Q(A[3]),
	.D(ALU[3]),
	.CLK(count_0),
	.RESET(nRST_c_i),
	.CE(g0_0)
);
// @8:36
  DFFNR C_Z (
	.Q(C),
	.D(ALU[4]),
	.CLK(count_0),
	.RESET(nRST_c_i)
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* td4_logic */

module TOP (
  nRST,
  XTAL_IN,
  KEY,
  LCD_CLK,
  LCD_HYNC,
  LCD_SYNC,
  LCD_DEN,
  LCD_R,
  LCD_G,
  LCD_B,
  LED_R,
  LED_G,
  LED_B
)
;
input nRST ;
input XTAL_IN ;
input KEY ;
output LCD_CLK ;
output LCD_HYNC ;
output LCD_SYNC ;
output LCD_DEN ;
output [4:0] LCD_R ;
output [5:0] LCD_G ;
output [4:0] LCD_B ;
output LED_R ;
output LED_G ;
output LED_B ;
wire nRST ;
wire XTAL_IN ;
wire KEY ;
wire LCD_CLK ;
wire LCD_HYNC ;
wire LCD_SYNC ;
wire LCD_DEN ;
wire LED_R ;
wire LED_G ;
wire LED_B ;
wire [2:0] regsel;
wire [22:0] count;
wire [7:7] \D1.Lcnt ;
wire [0:0] regdat;
wire [0:0] LCD_G_c;
wire [0:0] LCD_B_c;
wire [2:0] OUT_i;
wire [21:0] count_cry;
wire [22:0] count_s;
wire [22:22] count_s_0_COUT;
wire GND ;
wire VCC ;
wire N_8 ;
wire N_13 ;
wire \td4_logic.N_41  ;
wire \td4_logic.N_42  ;
wire \td4_logic.N_43  ;
wire nRST_c ;
wire XTAL_IN_c ;
wire KEY_c ;
wire LCD_CLK_c ;
wire \D1.Ytop_c4  ;
wire N_10_i ;
wire KEY_c_i ;
wire nRST_c_i ;
  GSR GSR (
	.GSRI(VCC)
);
// @8:27
  INV KEY_c_i_cZ (
	.I(KEY_c),
	.O(KEY_c_i)
);
// @8:36
  INV nRST_c_i_cZ (
	.I(nRST_c),
	.O(nRST_c_i)
);
// @5:32
  DFFR \count_Z[0]  (
	.Q(count[0]),
	.D(count_s[0]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[1]  (
	.Q(count[1]),
	.D(count_s[1]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[2]  (
	.Q(count[2]),
	.D(count_s[2]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[3]  (
	.Q(count[3]),
	.D(count_s[3]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[4]  (
	.Q(count[4]),
	.D(count_s[4]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[5]  (
	.Q(count[5]),
	.D(count_s[5]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[6]  (
	.Q(count[6]),
	.D(count_s[6]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[7]  (
	.Q(count[7]),
	.D(count_s[7]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[8]  (
	.Q(count[8]),
	.D(count_s[8]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[9]  (
	.Q(count[9]),
	.D(count_s[9]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[10]  (
	.Q(count[10]),
	.D(count_s[10]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[11]  (
	.Q(count[11]),
	.D(count_s[11]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[12]  (
	.Q(count[12]),
	.D(count_s[12]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[13]  (
	.Q(count[13]),
	.D(count_s[13]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[14]  (
	.Q(count[14]),
	.D(count_s[14]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[15]  (
	.Q(count[15]),
	.D(count_s[15]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[16]  (
	.Q(count[16]),
	.D(count_s[16]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[17]  (
	.Q(count[17]),
	.D(count_s[17]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[18]  (
	.Q(count[18]),
	.D(count_s[18]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[19]  (
	.Q(count[19]),
	.D(count_s[19]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[20]  (
	.Q(count[20]),
	.D(count_s[20]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[21]  (
	.Q(count[21]),
	.D(count_s[21]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:32
  DFFR \count_Z[22]  (
	.Q(count[22]),
	.D(count_s[22]),
	.CLK(XTAL_IN_c),
	.RESET(KEY_c_i)
);
// @5:3
  IBUF nRST_ibuf (
	.O(nRST_c),
	.I(nRST)
);
// @5:3
  IBUF XTAL_IN_ibuf (
	.O(XTAL_IN_c),
	.I(XTAL_IN)
);
// @5:3
  IBUF KEY_ibuf (
	.O(KEY_c),
	.I(KEY)
);
// @5:5
  OBUF LCD_CLK_obuf (
	.O(LCD_CLK),
	.I(LCD_CLK_c)
);
// @5:5
  OBUF LCD_HYNC_obuf (
	.O(LCD_HYNC),
	.I(N_13)
);
// @5:5
  OBUF LCD_SYNC_obuf (
	.O(LCD_SYNC),
	.I(N_8)
);
// @5:5
  OBUF LCD_DEN_obuf (
	.O(LCD_DEN),
	.I(N_10_i)
);
// @5:6
  OBUF \LCD_R_obuf[0]  (
	.O(LCD_R[0]),
	.I(LCD_G_c[0])
);
// @5:6
  OBUF \LCD_R_obuf[1]  (
	.O(LCD_R[1]),
	.I(LCD_G_c[0])
);
// @5:6
  OBUF \LCD_R_obuf[2]  (
	.O(LCD_R[2]),
	.I(LCD_G_c[0])
);
// @5:6
  OBUF \LCD_R_obuf[3]  (
	.O(LCD_R[3]),
	.I(LCD_G_c[0])
);
// @5:6
  OBUF \LCD_R_obuf[4]  (
	.O(LCD_R[4]),
	.I(LCD_G_c[0])
);
// @5:7
  OBUF \LCD_G_obuf[0]  (
	.O(LCD_G[0]),
	.I(LCD_G_c[0])
);
// @5:7
  OBUF \LCD_G_obuf[1]  (
	.O(LCD_G[1]),
	.I(LCD_G_c[0])
);
// @5:7
  OBUF \LCD_G_obuf[2]  (
	.O(LCD_G[2]),
	.I(LCD_G_c[0])
);
// @5:7
  OBUF \LCD_G_obuf[3]  (
	.O(LCD_G[3]),
	.I(LCD_G_c[0])
);
// @5:7
  OBUF \LCD_G_obuf[4]  (
	.O(LCD_G[4]),
	.I(LCD_G_c[0])
);
// @5:7
  OBUF \LCD_G_obuf[5]  (
	.O(LCD_G[5]),
	.I(LCD_G_c[0])
);
// @5:8
  OBUF \LCD_B_obuf[0]  (
	.O(LCD_B[0]),
	.I(LCD_B_c[0])
);
// @5:8
  OBUF \LCD_B_obuf[1]  (
	.O(LCD_B[1]),
	.I(LCD_B_c[0])
);
// @5:8
  OBUF \LCD_B_obuf[2]  (
	.O(LCD_B[2]),
	.I(LCD_B_c[0])
);
// @5:8
  OBUF \LCD_B_obuf[3]  (
	.O(LCD_B[3]),
	.I(LCD_B_c[0])
);
// @5:8
  OBUF \LCD_B_obuf[4]  (
	.O(LCD_B[4]),
	.I(LCD_B_c[0])
);
// @5:10
  OBUF LED_R_obuf (
	.O(LED_R),
	.I(OUT_i[0])
);
// @5:10
  OBUF LED_G_obuf (
	.O(LED_G),
	.I(OUT_i[1])
);
// @5:10
  OBUF LED_B_obuf (
	.O(LED_B),
	.I(OUT_i[2])
);
// @5:32
  ALU \count_s_0[22]  (
	.CIN(count_cry[21]),
	.I0(count[22]),
	.I1(GND),
	.I3(GND),
	.COUT(count_s_0_COUT[22]),
	.SUM(count_s[22])
);
defparam \count_s_0[22] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[21]  (
	.CIN(count_cry[20]),
	.I0(count[21]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[21]),
	.SUM(count_s[21])
);
defparam \count_cry_0[21] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[20]  (
	.CIN(count_cry[19]),
	.I0(count[20]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[20]),
	.SUM(count_s[20])
);
defparam \count_cry_0[20] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[19]  (
	.CIN(count_cry[18]),
	.I0(count[19]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[19]),
	.SUM(count_s[19])
);
defparam \count_cry_0[19] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[18]  (
	.CIN(count_cry[17]),
	.I0(count[18]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[18]),
	.SUM(count_s[18])
);
defparam \count_cry_0[18] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[17]  (
	.CIN(count_cry[16]),
	.I0(count[17]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[17]),
	.SUM(count_s[17])
);
defparam \count_cry_0[17] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[16]  (
	.CIN(count_cry[15]),
	.I0(count[16]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[16]),
	.SUM(count_s[16])
);
defparam \count_cry_0[16] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[15]  (
	.CIN(count_cry[14]),
	.I0(count[15]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[15]),
	.SUM(count_s[15])
);
defparam \count_cry_0[15] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[14]  (
	.CIN(count_cry[13]),
	.I0(count[14]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[14]),
	.SUM(count_s[14])
);
defparam \count_cry_0[14] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[13]  (
	.CIN(count_cry[12]),
	.I0(count[13]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[13]),
	.SUM(count_s[13])
);
defparam \count_cry_0[13] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[12]  (
	.CIN(count_cry[11]),
	.I0(count[12]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[12]),
	.SUM(count_s[12])
);
defparam \count_cry_0[12] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[11]  (
	.CIN(count_cry[10]),
	.I0(count[11]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[11]),
	.SUM(count_s[11])
);
defparam \count_cry_0[11] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[10]  (
	.CIN(count_cry[9]),
	.I0(count[10]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[10]),
	.SUM(count_s[10])
);
defparam \count_cry_0[10] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[9]  (
	.CIN(count_cry[8]),
	.I0(count[9]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[9]),
	.SUM(count_s[9])
);
defparam \count_cry_0[9] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[8]  (
	.CIN(count_cry[7]),
	.I0(count[8]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[8]),
	.SUM(count_s[8])
);
defparam \count_cry_0[8] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[7]  (
	.CIN(count_cry[6]),
	.I0(count[7]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[7]),
	.SUM(count_s[7])
);
defparam \count_cry_0[7] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[6]  (
	.CIN(count_cry[5]),
	.I0(count[6]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[6]),
	.SUM(count_s[6])
);
defparam \count_cry_0[6] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[5]  (
	.CIN(count_cry[4]),
	.I0(count[5]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[5]),
	.SUM(count_s[5])
);
defparam \count_cry_0[5] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[4]  (
	.CIN(count_cry[3]),
	.I0(count[4]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[4]),
	.SUM(count_s[4])
);
defparam \count_cry_0[4] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[3]  (
	.CIN(count_cry[2]),
	.I0(count[3]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[3]),
	.SUM(count_s[3])
);
defparam \count_cry_0[3] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[2]  (
	.CIN(count_cry[1]),
	.I0(count[2]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[2]),
	.SUM(count_s[2])
);
defparam \count_cry_0[2] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[1]  (
	.CIN(count_cry[0]),
	.I0(count[1]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[1]),
	.SUM(count_s[1])
);
defparam \count_cry_0[1] .ALU_MODE=0;
// @5:32
  ALU \count_cry_0[0]  (
	.CIN(VCC),
	.I0(count[0]),
	.I1(GND),
	.I3(GND),
	.COUT(count_cry[0]),
	.SUM(count_s[0])
);
defparam \count_cry_0[0] .ALU_MODE=0;
// @5:14
  Gowin_PLL chip_pll (
	.XTAL_IN_c(XTAL_IN_c),
	.LCD_CLK_c(LCD_CLK_c)
);
// @5:24
  VGAMod D1 (
	.regsel(regsel[2:0]),
	.Lcnt_0(\D1.Lcnt [7]),
	.regdat_0(regdat[0]),
	.LCD_G_c_0(LCD_G_c[0]),
	.LCD_B_c_0(LCD_B_c[0]),
	.nRST_c_i(nRST_c_i),
	.LCD_CLK_c(LCD_CLK_c),
	.N_8(N_8),
	.Ytop_c4_1z(\D1.Ytop_c4 ),
	.N_13(N_13),
	.N_43(\td4_logic.N_43 ),
	.N_41(\td4_logic.N_41 ),
	.N_42(\td4_logic.N_42 ),
	.N_10_i_1z(N_10_i)
);
// @5:39
  td4_logic td4_logic (
	.count_0(count[22]),
	.Lcnt_0(\D1.Lcnt [7]),
	.regsel(regsel[2:0]),
	.regdat_0(regdat[0]),
	.OUT_i(OUT_i[2:0]),
	.nRST_c_i(nRST_c_i),
	.KEY_c(KEY_c),
	.Ytop_c4(\D1.Ytop_c4 ),
	.N_42(\td4_logic.N_42 ),
	.N_41(\td4_logic.N_41 ),
	.N_43(\td4_logic.N_43 )
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* TOP */

